<html>
  <!-- publicフォルダのcssファイルを読み込む -->
  <link href="styles.css" rel="stylesheet">
  <body>
    <!-- チャットのインターフェースを囲う枠 -->
    <div id="nobyform">
      <!-- キャラクターの画像を表示 -->
      <div id="nobycanvas">
        <img src="img/normal/0000.png">
      </div>
      <!-- キャラクターからの応答メッセージを表示 -->
      <div id="responsearea">
        <p><%= @responder_resp %></p>
      </div>
      <!-- 会話やオプションの状態をPOSTするフォーム -->
      <div>
        <form action="/" method="post">
          <!-- ボタンを押すと会話を'/'にPOSTする -->
          <div>
            <input type="text" name="inputarea" placeholder="会話を入力">
            <button type="submit">話す</button>
          </div>
          <!-- ログにResponderを表示するオプション -->
          <div>
            <label><input type="checkbox" name="respoption" value="show" <%= @check %>>Responderを表示</label>
          </div>
        </form>
      </div>
    </div>
    <!-- 会話のログを表示 -->
    <div id="logarea">
      <%= @talk_log %>
    </div>
    <!-- キャラクターの画像をアニメーションさせるJavaScript -->
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        var index = 0;    /* 配列の要素番号 */

        /* 通常時の画像 */
        var normalImg = ["img/normal/0000.png"];
        /* 瞬きのアニメーション用の画像 */
        var blinkImg = ["img/normal/0000.png",
                        "img/blink/0000.png",
                        "img/blink/0001.png",
                        "img/normal/0000.png"];
        /* 見回すアニメーション用の画像 */
        var lookImg = ["img/normal/0000.png",
                       "img/lookaround/0000.png",
                       "img/lookaround/0001.png",
                       "img/lookaround/0002.png",
                       "img/lookaround/0003.png",
                       "img/lookaround/0004.png",
                       "img/normal/0000.png"];

        /* 関数の中で画像を操作するための配列 */
        var animePtn = [normalImg, blinkImg, lookImg];
        var imgAry = [];

        /* ３種類のアニメーションからランダムに選択 */
        function selectAnime() {
          imgAry = animePtn[Math.floor(Math.random() * 3)];
        }

        /* 画像を順番に表示してアニメーションを作成 */
        function flipAnime(){
          document.getElementById("nobycanvas").getElementsByTagName("img")[0].src = imgAry[index];
          index++;
          if (index >= imgAry.length){
            index = 0;
            clerTimeout(timeoutId);
          }
          timeoutId = setTimeout(flipAnime, 100);
        }

        /* 表示するアニメーションを選択する */
        setInterval(selectAnime, 3000);
        /* アニメーションを表示する */
        setInterval(flipAnime, 3000);
      });
    </script>
  </body>
</html>

