<html>
  <body>
    <!-- ボタンを押すとPOSTメソッドで'/'にアクセス -->
    <form action="/" method="post">
      <!-- Rubyで生成したインスタンス変数@btn_captionをボタンに表示 -->
      <button type="submit"><%= @btn_caption %></button>
    </form>
  </body>
</html>

