<html>
  <!-- publicフォルダのcssファイルを読み込む -->
  <link href="styles.css" rel="stylesheet">
  <body>
    <!-- チャットのインターフェースを囲う枠 -->
    <div id="nobyform">
      <!-- キャラクターの画像を表示 -->
      <div id="nobycanvas">
        <img src="img/normal/0000.png">
      </div>
      <!-- キャラクターからの応答メッセージを表示 -->
      <div id="responsearea">
        <p></p>
      </div>
      <!-- 会話やオプションの状態をPOSTするフォーム -->
      <div>
        <form action="/" method="post">
          <!-- ボタンを押すと会話を'/'にPOSTする -->
          <div>
            <input type="text" name="inputarea" placeholder="会話を入力">
            <button type="submit">話す</button>
          </div>
          <!-- ログにResponderを表示するオプション -->
          <div>
            <label><input type="checkbox" name="respoption" value="show">Responderを表示</label>
          </div>
        </form>
      </div>
    </div>
    <!-- 会話のログを表示 -->
    <div id="logarea">
      <%= @talk_log %>
    </div>
    <!-- キャラクターの画像をアニメーションさせるJavaScript -->
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        var index = 0;    /* 配列の要素番号 */
        var cnt = 0;      /* 瞬きの回数 */

        /* 瞬きのアニメーション用の画像 */
        var blinkImg = ["img/normal/0000.png",
                        "img/blink/0000.png",
                        "img/blink/0001.png",
                        "img/normal/0000.png"
        ];

        /* 瞬きのアニメーションを作成     */
        /* ２回の瞬きでアニメーション終了 */
        function flipAnime(){
          timeoutId = setTimeout(flipAnime, 100);

          document.getElementById("nobycanvas").getElementsByTagName("img")[0].src = blinkImg[index];
          index++;
          if (index >= blinkImg.length){
            index = 0;
            cnt++;
          }
          if (cnt > 1){
            cnt = 0;
            clearTimeout(timeoutId);
          }
        };

        /* 瞬きのアニメーションを表示する */
        setInterval(flipAnime, 3000);
      });
    </script>
  </body>
</html>

